<nav class="nav-links" aria-label="Galvenā navigācija">
    <NavLink href="" Match="NavLinkMatch.All">Filmas</NavLink>
    <NavLink href="account">Mans konts</NavLink>
    <NavLink href="admin">Pārvaldība</NavLink>
</nav>
